<% layout('/layouts/boilerplate.ejs') %>
<body>
    <h3>All Events</h3>
    <!-- <form method="get" action="/events/new">
        <button>Create Events</button>
    </form> -->
    <% for(let event of allEvents) { %>
    <div class="card" style="width: 18rem;">
        <img src="<%= event.image %>" class="card-img-top" alt="event_image">
        <div class="card-body">
          <h6 class="card-title"><%= event.title %></h6>
          <p class="card-text"><%= event.description.substring(0,100)%>...</p>
          <p><%= event.date %></p>
          <a href="#" class="btn btn-primary book-btn">Book Event</a>
        </div>
      </div>
      <%}%>
    <% for(let event of allEvents) { %>
        <li><a href="/events/<%= event._id %>"><%= event.title %></a></li>

    <%}%>
</body>


