<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventHive</title>
</head>
<body>
    <h3>Events details</h3>
    <ul>
        <li><%= event.title %></li>
        <li><%= event.description %></li>
        <li><%= event.date %></li>
        <li><%= event.time %></li>
        <li><%= event.location %></li>
        <li><%= event.category %></li>
        <li>&#8377; <%= event.price.toLocaleString('en-IN') %></li>
        <li><%= event.attendeeCount %></li>
        
    </ul>
</body>
</html>