<% layout('/layouts/boilerplate.ejs') %>

<div class="row mt-3">
    <div class="col-8 offset-2">

   
    <h3>Events details</h3>
    </div>
    <div class="card col-6 offset-2" >
        <img src="<%=event.image %>" class="card-img-top show-img" alt="event_img">
        <div class="card-body">
          <p class="card-text">
            <b><%= event.title %></b>
            <li><%= event.description %></li>
            <li><%= event.date %></li>
            <li><%= event.time %></li>
            <li><%= event.location %></li>
            <li><%= event.category %></li>
            <li>&#8377;<%= event.price.toLocaleString('en-IN') %></li>
            <li><%= event.attendeeCount %></li>

        </p>
        </div>
      </div>
    <ul>
        
        
        
    </ul>
    <br>
    <div class="show-btns">
        <a href="/events/<%= event._id %>/edit" class="btn btn-dark">Edit Event</a>
        
        <form method="post" action="/events/<%=event._id%>?_method=Delete">
          <button class="btn btn-dark">Delete Event</button>
        </form>

    </div>
    
</div>


